body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.display-3{
    font-family: 'Sail', cursive;
}
.banner{
    height: 100vh;
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0%;
}
.capa{
    height: 60vh;
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0%;
}
.slide{
    height: 40vh;
}
#borda-amarela{
    border: 1.5rem solid;
    border-color: #f3c014;
}
.no-border{
    border: 0px;
}
.jumbo{
    font-size: 1.7rem;
    font-weight: lighter;
}
.bolha{
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    margin-top: 5%;
}
.logo{
    height: 24rem;
    margin-top: 20%;

}
.marca{
    font-family: 'Euphoria Script', cursive;
    font-size: 2rem;
    font-weight: bold;
}
.bolhas-fundo{
    height: 20rem;
    width: auto;
    background: none;
}
.bolhas-fundo-a{
    height: 20rem;
    background: none;
}
.no-background{
    background: none;
}

.center-card{
    padding-top:0%;
}
.blue-background-b{
    background-image: url(../img/background-a.jpg);
    background-size: cover;
}
.blue-background-a{
    background-image: url(../img/background-a.jpg);
    background-size: cover;
}
.blue-background{
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.icon{
    height: 1.5rem;
    filter: invert(67%) sepia(79%) saturate(437%) hue-rotate(339deg) brightness(104%) contrast(88%);
}
a{
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.footer{
    height: 2rem;
    width: 100%;
    font-size: 0.7rem;
    background-color:#333333;
    color: white;
}

@media only screen and (min-width: 600px) {
    /* For desktop: */
    .marca{
        font-size: 4rem;
    }
    .icon{
        height: 3rem;
    }
    
    .center-card{
        padding-top: 30%;
    }
    .bolhas-fundo-a{
        height: 80vh;
        width: 80vh;
        margin-left: 30%;
    }
    .logo{
        height: 70vh;
        margin-top: 0%;
    }
    .capa{
        height: 40vh;
    }
    .slide{
        height: 80vh;
    }
    .slide-size{
        height: 80vh;   
    }
    .bolha{
        height: 50vh;
        width: 50vh;
        margin-top: 20%;
    }
    .bolhas-fundo{
        height: 70vh;
        width: 70vh;
        margin-top: 10%;
    }
    .blue-background-a{
        background-image: url(/assets/img/background-b.jpg);
        background-size: 100% 100%;
    }
    .blue-background-b{
        background-size: 100% 100%;
    }
    .blue-background{
        background-size: cover;
    }
    .display-3{
        font-size: 5.5rem;
        font-weight: 500;
        font-family: 'Sail', cursive;
    }
    .jumbo{
        font-size: 3rem;
    }
    .marca{
        font-size: 7rem;
    }
    .white-background{
        background-color: rgba(256, 256, 256, .5);
    }
    .carousel-caption{
        margin-left: -15%;
    }
}